h1{
  text-align: center;
}

table{
  margin: auto;
}

td{
  background-color: black;
  height: 100px;
  width: 100px;
}

.verde{
  background-color: #00ff00;
}

.gris{
  background-color: #999966;
}

.azul{
  background-color: #0000ff;
}
