/* estilos para fuentes, tamaños, decoración, etc */

h1{
  font-family: fantasy;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

p{
  font-weight: bolder;
  text-align: justify;
}

.parrafo2{
  font-weight: lighter;
  font-size: 20px;
  text-decoration: line-through;
}
